body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Space Mono', monospace;
  font-size: 100px;
  font-weight: 700;
  /* background-image: url(./crea-tus-temas-background.png); */
  background-repeat: no-repeat;
  background-color: #5b5966;
  background-size: cover;
}

p.timer {
  padding: 1rem 2rem;
  background-color: #5b5966cc;
  color: white;
}